# Podmin <https://podmin.dev>
# Copyright The Podmin Authors
# SPDX-License-Identifier: Apache-2.0

/bin
/dist/
**/.terraform/
/.vscode
/.idea
.DS_Store
/coverage.out
/temp
*.tfplan
*.tfstate
*.tfstate.*
